/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 22, 2022, 11:49:43 AM
    Author     : ACER
*/
.th-heigh-width{
    width: 10%;
}

.th-heigh-width:first-child{
    width: 5%;
}

.course-color{
    color: blue;
}

.room-color{
    color: red;
}

.modal-container{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: open 0.5s forwards;
}


@keyframes open{
    0%{
        transform: translate(-0%, -0%) scale(0);
    }
    50%{
        transform: translate(-0%, -0%) scale(1.2);
    }
    70%{
        transform: translate(-0%, -0%) scale(0.95);
    }
    95%{
        transform: translate(-0%, -0%) scale(1.1);
    }
    100%{
        transform: translate(-0%, -0%) scale(1);
    }
}


.my-modal{
    background-color: white;
    border-radius: 5px;
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.close{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.hide{
    display: none;
}